<div class="pull-right">
<%= link_to 'Back', "javascript:history.back()", confirm: 'This will cancel all changes. Are you sure?', method: :get, :class => "btn"  %>
</div>
<h1>Edit Contact Person</h1>

<%= render 'form' %>

