<div class="pull-right">
  <%= link_to 'Show', @isfit_tab, confirm: 'This will cancel all changes. Are you sure?', method: :get, :class => "btn" %>
  <%= link_to 'Back', isfit_tabs_path, confirm: 'This will cancel all changes. Are you sure?', method: :get , :class => "btn" %>
</div>
<h1>Editing isfit_tab</h1>

<%= render 'form' %>

