<h1>Forgot Password</h1>
<p>
If you have forgotten your old password we can generate a new for you. This will be sent to your private email.
</p>
<%= form_tag("mail_password", :method => "post")  do %>
<div class="field">
  <%= label_tag "Username" %>
  <%= text_field_tag :username %>
</div>
<div class="type-button">
  <%= submit_tag "Change password" %>
</div>
<% end %>
