<%= form_tag "mail_password", :method => "post",class: "form-signin"  do %>
  <h2 class="form-signin-heading">Forgot Password</h2>
  <p>
  If you have forgotten your old password we can generate a new for you. This will be sent to your private email.
  </p>
  <%= text_field_tag :username, nil, class:"input-block-level", placeholder:"Username" %>
  <div class="btn-group">
  <%= submit_tag "Change password", class: "btn btn-large btn-primary" %>
  <%= link_to "Cancel", login_path, class: "btn btn-large", type: "button" %>
  </div>
<% end %>
