<h3 class="muted">Søk på kjøreoppdrag</h3>
<%= simple_form_for(Drive.new, :url => range_search_drives_path, :method => "get", wrapper: :inline_form,
	:html => {:class => 'form-inline' }) do |f| %>
	<%= f.input :start_time, :as => :datetime_picker %>
	<%= f.input :end_time, :as => :datetime_picker%>
	<%= f.button :submit, 'Søk'%>
<% end %>