<%= render "transport/nav" %>
<%= render "search_range" %>

<% if @driver %>
	<h2>Kjøreoppdrag for <%= link_to @driver.username, @driver %></h2>
<% else %>
	<h2>Alle kjøreoppdrag</h2>
<% end %>

	  <style type="text/css">
    .expand_y {
    	height:20px;
       	overflow-y:hidden;
       }
       table tr:hover {
			background-color: #f5f5f5;       }
  </style>
<%= render "drives_table" %>