<div class="pull-right">
  <%= link_to 'Show', @layout_job, confirm: 'This will cancel all changes. Are you sure?', method: :get, :class => "btn" %>
  <%= link_to 'Index', layout_jobs_path, confirm: 'This will cancel all changes. Are you sure?', method: :get , :class => "btn btn-primary" %>
</div>
<h1>Editing layout job</h1>

<%= render 'form' %>

