<div class="pull-right">
<%= link_to('Index',
            layout_jobs_path(redirect: true),
            confirm: 'This will cancel all changes. Are you sure?',
            method: :get,
            :class => "btn btn-primary") %>
</div>
<h1>New layout job</h1>

<%= render 'form' %>

