<div class="pull-right">
<%= link_to 'Back', layout_jobs_path, confirm: 'This will cancel all changes. Are you sure?', method: :get, :class => "btn"  %>
</div>
<h1>New Layout Job</h1>

<%= render 'form' %>

