<% menu_groups.each do |menu_group| %>
  <% if can_access_link(menu_group) %>
    <h3><%=menu_group.title%></h3>
    <ul>
      <% menu_group.children.each do |child| %>
        <li><%= link_to child.title, url_for(controller:child.controller,action:child.action,id:child.action_id) %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
