<% menu_groups.each do |menu_group, menu_links| %>
  <% if url_for_arranged_tab(menu_links) %>
    <h3><%=menu_group.title%></h3>
    <ul>
      <% menu_links.each do |menu_link, value| %>
        <% if can_access_link? menu_link %>
          <li><%= link_to menu_link.title, url_for(controller: menu_link.controller,action: menu_link.action,id: menu_link.action_id) %></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>
