<div class="internal_tab">  
  <div class="content">  
    <%= internal_tab.title %>  
  </div>  
  <div class="actions">  
    <%= link_to "Legg til barn", new_internal_tab_path(:parent_id => internal_tab) %> 
  </div>  
</div>  
