<ul class="pills">
<% sublinks.each do |sublink,children| %>
  <%
    if sublink.controller && sublink.action
      url = url_for(controller: sublink.controller, action: sublink.action, id: sublink.action_id)
    else
      url = url_for_arranged_tab(children)
    end
    active = sublink == current_sublink
    %>
    <li class="<%= active ? "active":"active"%>" ><%= link_to  sublink.title, url, class: active ? "active":"active" if url%></li>
  <% end %>
</ul>
