<ul class="pills">
  <% tabs.each do |sublink| %>
    <%
      active = false
      url = url_for_internal_tab(sublink)
      if url == request.fullpath
        active = true
        current_sublink = sublink
      end
    %>

    <li><%= link_to sublink.title, url, :class => active ? "active":"active"  if can_access_link(sublink) %></li>
  <% end %>
</ul>
