<ul class="pills">
<% sublinks.each do |sublink| %>
  <%
    url = url_for_internal_tab(sublink)
    active =sublink == current_sublink
    %>

    <li><%= link_to sublink.title, url, :class => active ? "active":"active"  if can_access_link(sublink) %></li>
  <% end %>
</ul>
