<ul>
  <% unless logged_in? %>
    <li class="active"><%= link_to('Log in', {}, {class: 'active'}) %></li>
  <% else %>
    <% tabs.each do |tab, children| %>
      <% url = url_for_arranged_tab(children) %>
      <li><%= link_to tab.title.capitalize, url if url%></li>
    <% end %>
    <li><%= link_to('Log out', logout_path) %></li>
  <% end %>
</ul>
