<h1>Interviews</h1>
<p>Below is a list of all your interviews.</p>
<table class="zebra-striped sortable">
  <thead>
    <tr>
      <th>Applicant</th>
      <th>Position</th>
      <th>Place</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <% @applicants.each do |applicant| %>
      <tr>
        <td><%= applicant.lastname + ", " + applicant.firstname %></td>
        <td><%= "#{applicant.first_position}, #{applicant.second_position}, #{applicant.third_position}" %></td>
        <td><%= applicant.place %></td>
        <td><%= applicant.time %></td>
      </tr>
    <% end %>
  </tbody>
</table>
