<h1>Interviews</h1>
<p>Below is a list of all your interviews.</p>
<table cellspacing="0" cellpadding="4" style="border: 1px solid #ccc">
	<tr>
		<td><b>Applicant</b></td>
		<td><b>Position</b></td>
		<td><b>Place</b></td>
		<td><b>Time</b></td>
		<td><b>Second interviewer</b></td>
	</tr>
<% @applicants.each do |applicant| %>
	<tr>
		<td><%= applicant.lastname + ", " + applicant.firstname %></td>
		<td></td>
		<td><%= applicant.place %></td>
		<td><%= applicant.time %></td>
	</tr>
<% end %>
</table>
