<h1>New article</h1>
<%= render :partial => 'form' %>

<%#=collection_select("stuff", "item_id", @pictures, :id, :description )%>
<!--<img src="nothing.jpg" id="img_pre" style="float:right" alt="Preview!">
<h5>Full image:</h5>
<div id="img_full">
</div>
<h5>Image float right:</h5>
<div id="img_right">
</div>
<h5>Image float left:</h5>
<div id="img_left">
</div>-->
<div id="formatting">
  <%= render 'formatting' %>
</div>

