<%= form_for([:transport, Driver.new]) do |f| %>
	<div class="form-group">
    <label class="select required control-label">Username</label>
    <div>
      <%= f.select :user_id, User.in_festival.map { |u| ["#{u.full_name} - @#{u.username}", u.id] }, { include_blank: true }, { class: 'chosen-select' } %>
    </div>
	</div>
	<div class="form-group">
		<%= submit_tag("Lagre",:class => 'btn btn-default') %>
	</div>
<% end %>