<h2>Halt!</h2>
<p>	Det ser ut som du ikke er en registert sjåfør i transport systemet.</p>
<p>Akkurat nå (takket være Dag-Inge som aldri oppdaterer dev databasen til en akseptabel standard) må du ta kontakt med noen i Transport, og be dem legge deg til som en sjåfør.</p>