<h2>Help</h2>
<h3>Photos</h3>
<p>This section describes the formatting options available in article body contents.</p>
<div class="leftline">
<%=collection_select("stuff", "item_id", Photo.order("created_at DESC"), :id, :description )%><br />
<img src="nothing.jpg" id="img_pre"  alt="Preview!"><br />
<b>Full image:</b><br />
<div id="img_full">
</div>
<b>Image float right:</b><br />
<div id="img_right">
</div>
<b>Image float left:</b><br />
<div id="img_left">
</div>
</div>

