<h1>New article</h1>
<div class="alert alert-info">
  <p>Remember to write a short summary in English as well!</p>
</div>
<%= link_to 'Back', articles_path, :class => "btn", confirm: 'This will cancel all changes. Are you sure?', method: :get %>
<%= render 'form' %>
<div class="alert alert-info">
  <p>Remember to write a short summary in English as well!</p>
</div>

