<div class="user readable">
 <div class="picture">
    <%#= image_tag @user.profile_picture.url(:thumb)%>
    </div>
  <div><%=render @user %></div>
 <div>
    <h5>Tasks</h5>
      <% if @user.tasks %>
        <%= format(@user.tasks) %><br>
      <% else %>
        No task added.<br>
      <% end %>
    </div>
</div>
