<div class="user">
  <div class="picture">
    <%#= image_tag @user.profile_picture.url(:thumb)%>
    </div>
  <div><%=render @user %></div>
  <div>
      <% if @user.tasks %>
        <b>Tasks:</b><br>
        <%= simple_format(@user.tasks) %><br>
      <% else %>
        No task added.<br>
      <% end %>
    </div>
</div>
