<div class="user readable">
  <% if @user.facebook_id %>
    <div class="picture pull-right" >
      <img src="https://graph.facebook.com/<%= @user.facebook_id %>/picture?type=large"/>
    </div>
  <% elsif @user == current_user %>
    <div class="pull-right">
      <p>No picture? <%= link_to "Connect to Facebook!", oauth_start_path %></p>
    </div>
  <% end %>
  <div><%=render @user %></div>
  <div>
    <h5>Tasks</h5>
    <% if @user.tasks %>
      <%= format(@user.tasks) %><br>
    <% else %>
      No task added.<br>
    <% end %>
  </div>
</div>
