<%= content_for :script do %>

  <script>
    $(function () {
      var chart;
      $(document).ready(function() {
        chart = new Highcharts.Chart({
          chart: {
            renderTo: 'participant-age',
            type: 'column'
          },
          title: {
            text: 'Age Distribution'
          },
          subtitle: {
            text: 'Birth year'
          },
          xAxis: {
            categories: [
            <% @participants_age.each do |k,v| %>
              <%= k.to_s[2..3] %>,
            <% end %>
            ]
          },
          yAxis: {
            min: 0,
            title: {
              text: 'Applications'
            }
          },
          legend: {
            layout: 'vertical',
            backgroundColor: '#FFFFFF',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            shadow: true
          },
          tooltip: {
            formatter: function() {
              return ''+
              this.x +': '+ this.y;
            }
          },
          plotOptions: {
            column: {
              pointPadding: 0.2,
              borderWidth: 0
            }
          },
          series: [{
            name: 'Applications',
            data: [
            <% @participants_age.each do |k,v| %>
              <%= v %>,
            <% end %>           
            ]

          }]
        });
      });

    });
  </script>

<% end %>

<div id="participant-age" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<br />
