<div class="well widget">
  <h4>Quest</h4>
  <% if UserQuest.where("deadline < ? AND status = 1 AND hero_id = ?", DateTime.now, current_user.id).count > 0 %>
    <% UserQuest.timeout_quest(current_user) %>
    <% UserQuest.generate_quest(current_user) %>
  <% elsif UserQuest.where("deadline > ? AND status = 1 AND hero_id = ?", DateTime.now, current_user.id).count == 0 %>
    <% UserQuest.generate_quest(current_user) %>
  <% end %>
  <% @quest = UserQuest.where("status = 1 AND hero_id = ?", current_user.id).last %>
  <p><%= @quest.quest.quest_text %> <%= link_to( User.find_by_id(@quest.npc_id).full_name, user_path(@quest.npc_id)) %></p>
  <p><small>Deadline: <%= distance_of_time_in_words(@quest.deadline - Time.now) %></small></p>
  <p><%= link_to "Highscore", user_quest_stats_path %></p>
</div>

