<h1 class="col-md-offset-2"><%= @hashtag.tag %></h1>
<div id='kvitter-index' class="well col-md-8 col-md-offset-1">
	<%= render partial: "shared/kvitter", collection: @kvitters %>
</div>

<div class="col-md-offset-2">
	<%= will_paginate @kvitters %>
</div>
