<h1>Pads</h1>
<p>A pad is a collaborative editing tool. You can share this pad with anyone in ISFiT by giving them the link.</p>
<div id="<%= @pad.hexid %>" class="show-pad" data-user="<%=current_user.username%>">
  Something went wrong
</div>
