<h1>The Global Infection</h1>
<p>Below is a list of all the stories on theglobalinfection.<br />
They are listed newest first.
</p>


<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Created</th>
      <th>Title</th>
      <th>Show</th>
      <th>Validated</th>
      <th>Deleted</th>
    </tr>
  </thead>

  <% @stories.each do |story| %>
    <tr>
      <td><%= story.created_at %></td>
      <td><%= story.title %></td>
      <td><%= link_to 'Show', story, :class => "btn-primary btn" %></td>
      <td>
      	<% if story.validated %>
      		<span class='label label-success'>Validated</span>
      	<% else %>
      		<span class='label label-warning'>Not Validated</span>
      	<% end %>
      </td>
      <td>
      	<% if story.deleted %>
      		<span class='label label-danger'>Deleted</span>
      	<% end %>
      </td>
    </tr>
  <% end %>
</table>