<div class="row">
	<div class="span4">
		<%= form_tag(shifts_admin_index_path, :method=>"post") do |f| %>
			<% @drivers.each do |driver| %>
				<%= check_box_tag("driver_ids[]", driver.id) %>
				<%= User.find(driver.user_id).full_name %>
				<br>
			<% end %>
	</div>
	<div class="span4">
		<div class="input-prepend">
				<label class="control-label" for="inputIcon">Dato</label>
				<span class="add-on"><i class="icon-calendar"></i></span>
				<input id="date" type="date" name="date" placeholder="YYYY-MM-DD"	required/>
				<label class="control-label" for="inputIcon">Fra klokken</label>
				<span class="add-on"><i class="icon-time"></i></span>
				<input id="start_time" type="time" name="start_time" placeholder="HH:MM" required/>
				<label class="control-label" for="inputIcon">Til klokken</label>
				<span class="add-on"><i class="icon-time"></i></span>
				<input id="end_time" type="time" name="end_time" placeholder="HH:MM" required/>
			</div>
		<%= submit_tag("Lagre") %>

	</div>
</div>
		<% end %>
