# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: a8251e301dcad01d6ec234f0749ea6f1cf946baa185c25589b67d66971af365159113d0fab36dcb46685d7d8a2a597e0d00b4c883e780abbeb6ac1f46b4d4d58

test:
  secret_key_base: e58d37a27e645bb3f4955839633621e6104312a5e8fc2a32fbebbc340b96aacf92ae6e9bf26f8fe918c483d297cd0934c1ad911996e635dd14ac73a2694ecb83

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
