<h1 style="color:red">Feedback</h1>
<p><b><b/></p>

<hr />
<a href="game"><div class="btn-group"><div class="pull-center">
  <button class="btn-large">Spill mer?</button></a>
<a href="highscore">
	<button class="btn-large">Gå rett til highscorelisten</button></a>
</div>