<h1>Who I am?!?</h1>
<div class="span6" style="text-align:center">
 <div class="picture pull-middle" >
      <img src="https://graph.facebook.com/<%= @user1.facebook_id %>/picture?type=large"/>
    </div>
<div class="btn-group">
  <button class="btn"><%= @user1.phone %></button>
  <button class="btn"><%= @user2.full_name %></button>
  <button class="btn">3</button>
</div>