<a href="game">
  <button class="btn btn-large btn-primary pull-right">Spill mer!</button>
</a>
<h1>Highscores Who Am I</h1>

<div class="row">
  <div class="col-md-4">
    <%= render 'shared/am_i_games/weekly_highscores' %>
    <%= render 'shared/am_i_games/all_time_highscores' %>
  </div>

  <div class="col-md-4">
    <%= render 'shared/am_i_games/your_stats' %>
    <%= render 'shared/am_i_games/earlier_winners' %>
  </div>
</div>
