<h1>Søkere til ISFiT parliaments</h1>

  
<table class="table">
  <th>Navn</th>
  <th>email</th>
  <% @isfit_parliaments.each do |p|%>
    <% if p.email.blank? %>
      <tr>
        <td><%=link_to p.name, p %></td>
        <td>-</td>
      </tr>
    <% else %>
      <tr>
        <td><%=link_to p.name, p %></td>
        <td><%=p.email %></td>
      </tr>
      <% end %>
    <% end %>
</table>
