
<h1><%= @isfit_parliament.name %></h1>
  
<dl class="dl-horizontal">
  <dl>
    <dt>email</dt>
      <dd><%= @isfit_parliament.email %></dd>
    <dt>Studieplass</dt>
      <dd><%= @isfit_parliament.place_of_study %></dd>
  </dl>
</dl>
<br>
<dl>
  <dt>Hvorfor tror du det er relevant for norske studenter å være med på ISFiT Parliament?</dt>
  <dd>...</dd>
</dl>

