<h1 class="offset2">Kvitter</h1>
<div id='kvitter-index' class="well span8 offset1">
	<%= render partial: "shared/kvitter", collection: @kvitters %>
</div>

<div class="offset2">
	<%= will_paginate @kvitters %>
</div>
