// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input.amount
{
	margin-bottom: 4px;
	width: 120px;
}
input.description
{
	margin-bottom: 4px;
	width: 250px;
}

input.date
{
	margin-bottom: 4px;
	width: 130px;
}
input.route
{
	margin-bottom: 4px;
	margin-right: 14px;
	width: 250px;
}
input.means
{
	margin-bottom: 4px;
	margin-right: 14px;
	width: 130px;
}
