// Place all the styles related to the layout_jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$red: #f2dede;
$green: #dff0d8;
$yellow: #fcf8e3;
$grey: #ddd;

.status_new {
  background-color: $red;
}

.status_started {
	background-color: $yellow;
}

.status_on_hold {
	background-color: $grey;
}

.status_finished {
	background-color: $green;
}

.layout-jobs {
  .description {
    overflow: hidden;
    height: auto;
    max-height: 120px;
  }
}
