.admin_header {
    display: inline;
}

.driver_info {
    display: inline;
    padding-left: 20px;
}

.table-nonfluid {
    width: 50%;
}

#info_list li {
	padding-bottom: 10px;
}

.expand_y {
    	height:20px;
       	overflow-y:hidden;
}

#todo_table thead th:hover {
	cursor: pointer;
}
    
#todo_table tbody tr:hover {
	background-color: #f5f5f5;
}