.admin_header {
    display: inline;
}

.driver_info {
    display: inline;
    padding-left: 20px;
}

.table-nonfluid {
    width: 50%;
}

#info_list li {
	padding-bottom: 10px;
}

.hover_table thead th:hover {
	cursor: pointer;
}