<% if not @shifts %>
	<h2>Du har ikke oppført noen vaktlister. GET TO IT!</h2>
<% else %>
	<%= @shifts %>
<% end %>

<h3>Nytt skift<h3>
<form id="shift_form" action="shifts/create">
	<div class="input-prepend">
		<label class="control-label" for="inputIcon">Dato</label>
		<span class="add-on"><i class="icon-calendar"></i></span>
		<input id="date" type="date" name="date" placeholder="YYYY-MM-DD"	required/>
		<label class="control-label" for="inputIcon">Fra klokken</label>
		<span class="add-on"><i class="icon-time"></i></span>
		<input id="start_time" type="time" name="start_time" placeholder="HH:MM" required/>
		<label class="control-label" for="inputIcon">Til klokken</label>
		<span class="add-on"><i class="icon-time"></i></span>
		<input id="end_time" type="time" name="end_time" placeholder="HH:MM" required/>
	</div>
	<input type="submit" id="time_submit" value="Søk">
</form>