<ul class="nav nav-tabs">
	<li><a href="/transport">Søk og lagre oppdrag</a></li>
    <li><a href="/transport/driver/you/todo">Mine oppdrag</a></li>
    <li><a href="/transport/driver/you/shift">Min vaktliste</a></li>
    <li><a href="/transport/all/todo">Alle oppdrag</a></li>
    <li><a href="/transport/admin">Administrer</a></li>
    <li><a href="/transport/info">Info</a></li>
</ul>
<p>Du er ikke registert som en sjåfør i systemet ennå. 
	<%= link_to "Trykk her", :controller => "transport_system", :action => "driver_register" %>
	for å bli registert som en sjåfør.</p>