<h1><%= group.name_en %></h1>
<p>
    <% if group.email %>
        <b>Email:</b> <%= mail_to group.email %><br>
    <% end %>
</p>
<h2>Positions</h2>
<%= render partial: "position", collection: group.positions %>
