<div class="col">
  <div class="col-md-8"><h1>Søkere til ISFiT parliaments</h1></div>
  <div class="col-md-4"><h3> antall søkere <%= @isfit_parliaments.count %></h3></div>


<table class="table">
  <th>Navn</th>
  <th>email</th>
  <% @isfit_parliaments.each do |p|%>
      <tr>
        <td><%=link_to p.name, p %></td>
        <td><%=p.email %></td>
      </tr>
    <% end %>
</table>