<div class="row">
  <div class="col-md-8"><h1>Søkere til ISFiT parliaments</h1></div>
  <div class="col-md-4"><h3> antall søkere <%= @isfit_parliaments.count %></h3></div>
</div>


<table class="table table-bordered table-striped sortable-filter">
  <thead>
    <th>Søker nr</th>
    <th>Status</th>
  </thead>
  <tbody>
  <% x = 1 %>
  <% @isfit_parliaments.each do |p|%>
      <tr>
        <td><%=link_to "Søker #{x}", p %></td>
        <td><%= evalueted?(p.status) %></td>
      </tr>
      <% x += 1 %>
    <% end %>
  </tbody>
</table>
<div id="pager" class="pager">
  <form>
    <img src="../addons/pager/icons/first.png" class="first"/>
    <img src="../addons/pager/icons/prev.png" class="prev"/>
    <input type="text" class="pagedisplay"/>
    <img src="../addons/pager/icons/next.png" class="next"/>
    <img src="../addons/pager/icons/last.png" class="last"/>
    <select class="pagesize">
      <option selected="selected"  value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
      <option  value="40">40</option>
    </select>
  </form>
</div>