img.right {
  float: right;
  padding: 0 0 0.5em 0.5em;
}

div.action-menu {
  float: right;
}

div.sidebar div.action-menu {
  float: left;
}
body {
  padding-top: 45px;
}

div.content-margin {
  margin-top: 3.5em;
}

.readable {
 // max-width: 650px;
}

div.btn-group {
  min-width: 75px;
}
