<h1>Select voucher</h1>
<p>Select the voucher you would like to create.</p>
<%= link_to("Travel refund", travel_accounts_path, class: "btn btn-info") %>
<%= link_to("Voucher/Kviteringsbilag", voucher_accounts_path, class: "btn btn-info") %>
<%= link_to("Invoice/Fakturabilag", invoice_accounts_path, class: "btn btn-info") %>
<%= link_to("Festihvalen", festihvalen_accounts_path, class: "btn btn-info") %>
